name: Release Test

on:
  workflow_dispatch:

jobs:

  release-test:
    strategy:
      matrix:
        crate:
        - name: cargo-workspaces
          version: '0.2.35'
        - name: cargo-hack
          version: '0.5.16'
        - name: cargo-set-rust-version
          version: '0.5.0'
        runs-on:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3
    - uses: ./actions/install
      with:
        name: ${{ matrix.crate.name }}
        version: ${{ matrix.crate.version }}
    - shell: bash
      run: ${{ matrix.crate.name }}
      continue-on-error: true
